DATABASE_URL="postgresql://postgres:postgres@localhost:5432/rabbitai?schema=public"

# Replace with your actual Resend API Key
RESEND_API_KEY=""

# Replace with your actual Gemini API Key
GEMINI_API_KEY=""

NEXT_PUBLIC_APP_URL="http://localhost:3000"
